*{padding:0;margin:0;}
body{background:#F9FAFB;}
#div_bg{
	height:auto;
	width:100%;
	margin: 0 auto;
}
#div_context{
	height:300px;
	width:80%;
	background:#FFFFFF;
	border-radius:20px;
	text-align:center;
	margin:20px auto;
	padding-top:100px;
}
.center{
	width:800px;
	height:600px;
	text-align: center;
	margin:0 auto;
	/* border:2px dashed  #ffff00; */
}
.content{
	width:830px;
	height:580px;
	text-align: center;
	margin:0 auto;
	/* border:2px dashed  #ffff00; */
}
.left {
	margin-left:0px;
	width:140px;
	float: left;
	/* border:2px dashed #00ff40; */
	margin-top:20px;
	padding-top:16px;
	background:#3792E0;
	border-radius:16px;
	padding-bottom:10px;
}
.left a{
	text-align:center;
	margin-top:10px;
	text-decoration: none;
	color :#000040;
}
.left a:hover{
	text-align:center;
	margin-top:10px;
	text-decoration: none;
	color :white;
}
.head_right {
	width:100%;
	height:50px;
	background:#222;
}
.head_right a{
	float: right;
	color: white;
	margin-left:16px;
	margin-top:10px;
	text-decoration: none;
}
.help_content{
	float:right;
	width:630px;
	height:430px;
	padding-top:10px;
	margin-top:20px;
	margin-left:20px;
	border-radius:16px;
	background:#E6EDF4;
	margin-right:30px;
	line-height:40px;
}
.right {
	float: left;
	width:888px;
	text-align: center;
}
.foot{
	clear:left;
	clear:both;
	text-align: center;
	/* border:2px dashed #8080ff; */
}